{% if toto.user is not empty          and toto == 1 || php_sapi_name(strlen('toto'),(2 + 2) * trim('12')) === "cli not here" or toto is defined and true == (strlen('true') === 4) %}
    affiche moi toto
{% endif %}

{% if users %}
    <ul>
        {% for user in users %}
            <li>{{ user.username|e }}</li>
        {% endfor %}
    </ul>
{% endif %}
